#result{
    position: relative;
    background-color: white;
    width: 80%;
    min-height: 100vh;
    text-align: center;
    overflow: hidden; /*밖으로 나오는 별 자름*/
    z-index: 1;
}

#result::before, #result::after, .star-bg{
    content: "";
    position: absolute;
    background-image: url("/static/img/star.svg");
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(96%) sepia(4%) saturate(1602%) hue-rotate(67deg) brightness(101%) contrast(91%);
    z-index: -1;
    opacity: 0.6;
}
#result::before{
    width: 250px;
    height: 250px;
    top: -50px;
    left: -60px;
    transform: rotate(-15deg);
}
#result::after{
    width: 150px;
    height: 150px;
    top: 35%;
    right: -40px;
    transform: rotate(20deg);
}
.star-bg{
    width: 100px;
    height: 100px;
    bottom: 5%;
    left: 70px;
    transform: rotate(10deg);
}

#anotherResult-btn, #resultShare-btn, #goSearch-btn, #again-btn{
    width: 45%;
    border-width: 1px;
    border-color: #1DB954;
    border-radius: 6px;
    background-color: #1DB954;
    color: white;
    margin-top: 8px;
    position: relative;
    z-index: 2;
    text-align: center;
    font-size: 20px;
}

.btn-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#anotherResult-btn:hover, #resultShare-btn:hover, #goSearch-btn:hover, #again-btn:hover, #anotherResult-btn:focus, #resultShare-btn:focus, #goSearch-btn:focus, #again-btn:focus{
    transform: scale(1.03);
}

#album-img{
    width: 45%;
    position: relative;
    z-index: 2;
}

#track-list{
    font-size: 20px;
    list-style-type: none;
    position: relative;
    z-index: 2;
}