<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/protected.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/default.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <title>My page</title>
</head>
<body>
    <div class="text-container mx-auto px-3">
        <div class="star-bg"></div>
        <p class="pt-3">
            나의 아이디: {{ userId }}
            <button class="logout-btn float-end" onclick="logout()">로그아웃</button>
        </p>
        <div class="col-6 mx-auto pt-5 text-center">
            <img
            src="{{ url_for('static', filename='img/headphones.png') }}"
            alt="mainIcon"
            class="img-fluid"
            id="headphone" />
        </div>
        <h1 class="pt-5">Songs for U</h1>
        <h4>당신에게 꼭 맞는 곡을 <strong>PICK!</strong> 해드립니다</h3>
    

        <div id="start" class="text-center mx-auto mt-5 py-3">
            <button class="surveyStart-btn py-1" onclick="location.href='/survey'">설문시작</button>
            <button class="goSearch-btn mt-2 py-1" onclick="location.href='/searchtab'">친구 결과 보러가기</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
